*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 10px;
    font-weight: 700;
    background-color: rgb(247, 247, 247);
}
.logo{
    height: 100px;
}
ul.nav-menu{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    font-size: 2.2rem;
    padding: 2rem;
    align-items: center;
    flex-wrap: wrap;

    
}

.nav-menu a {
    display: block;
}

.nav-menu a.nav-toggle {
    display: none;
}
.burger{


    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
  }
  
  @media screen and (max-width: 1050px) {
    .nav-menu a:not(.nav-toggle) {
      display: none;
    }
  
    .nav-menu a.nav-toggle {
      display: block;
    }
  }
.nav-menu li{
    padding-left: 15px;
    
}
.nav-menu li a{
    color:black;
    text-decoration: none;
    letter-spacing: 1px;
}
.nav-menu li a:hover{
    color: #F99B16;
    cursor: pointer;
}
.search{
    height: 5rem;
}
.search:hover{
    fill: #F99B16;
    cursor: pointer;
}
.navigation-pane{
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}
.bander{
    position: relative;
    height: 80vh;
    background-image: linear-gradient(90deg, 
    rgb(240, 88, 34,.8), 
    rgb(253, 189, 16,.8)
    ),url("/images/BANNER/banner-1920x900px.jpg");
    background-size: cover;
}
.content-title__button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.title-desing{
    font-size:5.2rem ;
    letter-spacing: 3px;
    text-transform: uppercase;
    
}
.title-site{
    font-size: 13.5rem;
    text-transform: uppercase;
    font-weight:bolder;
    letter-spacing: 2px;
    color: white;
    text-shadow: 3px 3px black;
}
.btn{
    font-size: 2rem;
    font-weight: 550;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    letter-spacing: 1px;
    border: none;
    padding: 2.5rem 4.5rem;

}

.btn-contract{
    border-radius: 35px;
    color: white;
    background-color: black;
    margin-top: 4rem;
}
.btn-contract:hover{
    background-image: linear-gradient(-90deg, 
    rgb(240, 88, 34,.8), 
    rgb(253, 189, 16,.8)
    );
    scale: 1.05;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}
.btn-contract:active{
    scale: 0.97;

}
.section-aboutus{
    padding-top: 100px;
    max-width: 1170px;
    margin: auto;
}
.heder-title{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 3.2rem;
    font-weight: 750;
    padding-bottom: 30px;
    text-align: center;
}
.line{
    background-image: linear-gradient(90deg, 
    rgb(240, 88, 34,.8), 
    rgb(253, 189, 16,.8)
    );
    height: 6px;
    width: 15rem;
    margin: auto;
    border-radius: 3px;  
}
.paragraph{
    padding-top: 30px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    max-width: 1170px;
    margin: auto;
    font-size: 1.6rem;
}
.photo-container__box{
    height: 190px;
    width: 190px;
    border: 1px solid gray;
    border-radius: 95px;
    position: relative;
    margin: auto;

}
.photo{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.title-cards{
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
.paragraph-cards{
    width: 100%;
    padding-top: 20px;
    font-size: 1.6rem;
    line-height: 25px;
    font-weight: 500;
    padding-bottom: 2rem;

}

.cards{
    width: 240px;
    text-align: center;
    
}

.line-cards{
    background-color: black;
    height: 4px;
    width: 10rem;
    margin: auto;  
    border-radius: 2px;
}
.photo-container__box:hover{
    background-color:  rgb(240, 88, 34);
    cursor: pointer;
    border: none;
}


.content-cards{
    display: flex;
    padding-top: 100px;
    justify-content: space-around;
    padding-bottom: 150px;
    flex-wrap: wrap;
    margin: auto;
    padding: 10rem;
    
    

}
.section-protfolio{
    margin: auto;
}
.button-filter__portfolio{
    text-align: center;
    padding:40px;
    
 
}
.portfolio-filter li{
    padding: 2rem 4rem;
    border: 2px solid gray;
    display: inline-block;
    font-size: 1.6rem;
    text-transform: uppercase;
}
.buton{
    text-decoration: none;
    color: black;
    letter-spacing: 1.5px;
    padding: 1.5rem 2rem;
    font-weight: 500;
    margin-right: 50px;
    border: 1px solid gray;
    border-radius: 4px;
    margin-bottom: 2rem;
}

.container-photo_filter {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.hover-photo{
    position: relative;
}
.hover-photo:hover::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background-image: linear-gradient(90deg, 
    rgb(240, 88, 34,.8), 
    rgb(253, 189, 16,.8)
    );
  }
.hover-photo:hover::after {
    content: "HOW 2 FIT";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    text-align: center;
  }
.image {
    margin: 2px;
}

.hide {
    display: none;
}

.buton:hover{
    background-color:  rgb(240, 88, 34);
    color: white;
    scale: 1.05;
    border: none;
    cursor: pointer;
    
}
.portfolio-filter li:active{
    scale: 0.97;
}
.section-timer{
    background-color: rgb(240, 88, 34);
    color: #FFE3D8;
    
}
.projects{
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;
}
.number{
    font-size: 9.6rem;
    font-weight: 750;
}
.texts{
    font-size: 2.4rem;
}

.container-timer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1170px;
    margin: auto;

    padding: 100px 20px 100px 20px;

}
.container-blog__card{
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: auto;
    flex-wrap: wrap;
    padding-bottom: 140px;
    

}
.section-blog{
    padding-top: 60px;
}
.blog-image{
    width: 350px;
    height: 350px;
   
}
.title-blog{
    text-transform: uppercase;
    padding-top: 30px;
    letter-spacing: 2px;
    line-height: 30px;
    padding-bottom: 15px;
    
}
.blog-card{
    position: relative;
    margin: auto;
    padding-bottom: 2rem;
    
}
.srt{
    position: absolute;
    background-color: #F99B16;
    padding: 3rem 2rem;
   text-align: center;
   color: aliceblue;
   font-size: 1.6rem;
   top: 0;
   right: 0;
}
.card-blog-subtitle{
    color: gray;
}
.card-blog-title{
    font-weight: 800;
}
.more-button{
    color: #F99B16;
    font-size: 1.6rem;
    letter-spacing: 2px;
}
.more-button:hover{
    color:  rgb(240, 88, 34) ;
    scale: 1.05;
}
.section-out_team{
    background-color: #FFE3D8;
    padding-top: 150px;
}
.section-card{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
    max-width: 1170px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 150px;
}
.ourteam-card{
    padding-bottom: 2rem;
    margin: auto;
}
.section-contact_team{
    padding-top: 150px;
    padding-bottom: 200px
}
form input[type=text],
[type=email]{
    width: 700px;
    height: 50px;
    margin-bottom: 40px;
    padding-left: 20px;
    
}
form input[type=textarea]{
    width: 700px;
    padding-bottom: 190px;
    padding-top: 10px;
    margin-bottom: 40px;
    padding-left: 20px;
    
}
form input{
    text-transform: uppercase;
    letter-spacing: 2px;
}

.photo-content_box{
    height: 90px;
    width: 90px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 45px;
    position: relative;
    margin-right: 20px;
}
.contact-photo{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.title-contant{
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 1.6rem;
}
.information-contact{
    display: flex;
    padding-bottom: 40px;

}
.information-our_company p{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 30px;
}
.content-information{
    display: flex;
    padding-top: 100px;
    max-width: 1170px;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
}
.cont-btn{
    padding: 1.5rem 4rem;
    background-color: white;
}
.cont-btn:hover{
    background-color: #F99B16;
    scale: 1.05;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    border: none;
}
.cont-btn:active{
    scale: 0.97;
}
.contact-btn{
    text-align: center;
}
.photo-content_box:hover{
    background-color:#F99B16;
    border: none;
    scale: 1.05;
    cursor: pointer;
}
.pre-footer{
    background-color: #212121;
   
}

.title-footer_01{
    color:#F99B16;
    text-transform: uppercase;
    font-weight: 750;
    padding-bottom: 20px;
    
}
.title-footer_02{
    color: white;
    text-transform: uppercase;
    font-weight: 750;
    padding-bottom: 20px;
}
.paragraph-footer{
    font-size: 1.6rem;
    width: 400px;
    line-height: 30px;
    font-weight: 650;
    color: white;
}
.logo-footer{
    margin-top: 10px;
    padding-top: 10px;
    height: 60px;
}
.footer-two a{
    text-decoration: none;
    padding-bottom: 20px;
    font-size: 1.6rem;
    display: flex;
}
.title-footer{
    padding-bottom: 30px;
}
#email02{
    width: 550px;
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid white;
    font-size: 1.6rem;
    font-weight: 750;

}
.cont-footer_btn{
    padding: 1.5rem 6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.cont-footer_btn:hover{
    background-color: #F99B16;
    scale: 1.05;
    cursor: pointer;
}
.cont-footer_btn:active{
    scale: 0.97;
}
.footer-one-compls{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: auto;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
}
.footer-one-end{
    background-color: rgb(19, 19, 19);
    color: white;
    
}

.footer-width{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: auto;
    padding: 6rem 2rem 3rem 2rem;
    
}
svg{
    fill: white;
    height: 25px;
    width: 25px;
    margin-left: 60px;
}
svg:hover{
    fill: #F99B16;
    cursor: pointer;
    scale: 1.05;
}
.footer-p{
    font-size: 1.6rem;
}


